body {
  background-color: $black;
}

img,
embed,
object,
video {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hidden {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: arial, helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p,
li,
a,
span,
button,
input {
  font-family: arial, helvetica, sans-serif;
  font-weight: 300;
  font-style: normal;
}

a,
li,
button {
  text-decoration: none;
  outline: none;
}

.bold {
  font-family: arial, helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  background: $black;
  z-index: -2;
}

.logo {
  max-width: 120px;
}

.mainbg {
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  bottom: 0;
  z-index: 0;
}
