// Typography
$fontTitle: 'Montserrat', sans-serif;
$titleSize: 2.5rem;

$body: 'Montserrat', sans-serif;
$fontSize: 1.6rem;

//Title colours
$TitleKids: #ff0a6c;
$SubtitleKids: #00c0f9;
$TextKids: #333333;

$TitleParents: #000000;
$SubtitleParents: #464646;
$TextParents: #5bb5ff;

//Background colours
$black: #0a0a0a;
$white: #ffffff;
$grey: #969595;
$blue: #00c0f9;

