.video-player {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    video {
        width: 70%;
        margin: 0 auto;
    }

    h1 {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
        
    }

    p {
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}